body{
	background-color: pink;
	margin: auto;
	padding: 50px;
}

h1{
	font-size: 36px;
	font: bold;
	font-family: Calibri;
	color: black;
	text-align: center;
}

.para{
	font-size: 18px;
	font-family: Calibri;
	outline-style: outset;
	outline-color: firebrick;
	padding: 5px
}