.gradientBackground { 
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -webkit-linear-gradient(124deg, hsla(8, 100%, 50%, 1), hsla(0, 82%, 51%, 1), hsla(46, 82%, 51%, 1), hsla(61, 82%, 51%, 1), hsla(130, 82%, 51%, 1), hsla(183, 82%, 51%, 1), hsla(244, 82%, 51%, 1), hsla(295, 100%, 48%, 1), hsla(295, 100%, 48%, 1));
	background: -o-linear-gradient(124deg, hsla(8, 100%, 50%, 1), hsla(0, 82%, 51%, 1), hsla(46, 82%, 51%, 1), hsla(61, 82%, 51%, 1), hsla(130, 82%, 51%, 1), hsla(183, 82%, 51%, 1), hsla(244, 82%, 51%, 1), hsla(295, 100%, 48%, 1), hsla(295, 100%, 48%, 1));
	background: -moz-linear-gradient(124deg, hsla(8, 100%, 50%, 1), hsla(0, 82%, 51%, 1), hsla(46, 82%, 51%, 1), hsla(61, 82%, 51%, 1), hsla(130, 82%, 51%, 1), hsla(183, 82%, 51%, 1), hsla(244, 82%, 51%, 1), hsla(295, 100%, 48%, 1), hsla(295, 100%, 48%, 1));
	background: linear-gradient(124deg, hsla(8, 100%, 50%, 1), hsla(0, 82%, 51%, 1), hsla(46, 82%, 51%, 1), hsla(61, 82%, 51%, 1), hsla(130, 82%, 51%, 1), hsla(183, 82%, 51%, 1), hsla(244, 82%, 51%, 1), hsla(295, 100%, 48%, 1), hsla(295, 100%, 48%, 1));
	background-size: 1800% 1800%;

	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
		animation: rainbow 18s ease infinite;}
	
	@-webkit-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-moz-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-o-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@keyframes rainbow { 
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}

body::-webkit-scrollbar {
	background-color: hsla(215, 15%, 25%, 1);
	color: hsl(0, 0%, 15%);
	background: -webkit-linear-gradient(0deg, hsla(0, 0%, 50%, 1));
	display: none; /* Removes scrollbar for Chrome, Safari and Opera */
	scrollbar-width: none; /* Removes scrollbar for IE and Edge */
	-ms-overflow-style: none; /* Removes scrollbar for Firefox */
	overflow: hidden;
	word-wrap: normal;
}


h1 {
	text-align: center;
	font-size: 5rem;
	padding: 1em;
	position: relative;
	font-family: Sans-Serif;
}

.outputHeading {
	position: relative;
	font-size: 3em;
	display: block;
	padding: 0.5em 10em;
	font-family: sans-serif;
}

.indexHeaders {  /* Having classes for different pages and distinguishing between headers and paragraphs for quick adjustments */
	text-align: center;
	font-size: 3em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

.indexParagraphs {
	text-align: center;
	font-size: 2em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

/*

	.html5Img {   Should add an image to the HTML page
		width: 10px;
		height: 15px;
		position: relative;
	}

*/

.htmlHeaders {
	text-align: center;
	font-size: 3em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

.htmlParagraphs {
	text-align: center;
	font-size: 2em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

.cssHeaders {
	text-align: center;
	font-size: 3em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

.cssParagraphs {
	text-align: center;
	font-size: 2em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

.JSParagraphs {
	text-align: center;
	font-size: 2em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

.halEye {
	position: relative;
	background: -webkit-radial-gradient(white, red 20%, black);
}

div.topnav {
	border-radius: 0.75em;
	list-style-type: none;
	position: relative;

    margin: 1%;
	padding: 10px; /* Top padding is absolute the other scales */
    padding: 0.5em;

    overflow: hidden;

    background-color: hsla(0, 0%, 75%, 0.25);
	backdrop-filter: blur(0.335em);

	text-align: center;
	font-family: Sans-Serif;
	font-size: 2em;
}

div.topnav li {
	float: left;
	position: relative;
	list-style: none;
}

div.topnav li a{
	align-self: center;
	position: relative;
	display: block;
	margin: auto;
	padding: 10px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 200ms;
}

.topnav:hover{
	position: relative;
	box-shadow: hsla(211, 40%, 72%, 1);
}

a:link {
	color: hsla(0, 0%, 15%, 0.9);
}

a:hover {
	color: hsla(0, 0%, 40%, 0.9)
}

a:active {
	color: hsla(0, 0%, 50%, 0.9)
}

a:visited {
	color: hsla(0, 0%, 15%, 0.9)
}

#result {
	text-align: center;
	font-size: 2em;
	display: block;
	padding: 0.5em 10em;
	position: relative;
	font-family: Sans-Serif;
}

#cmdMultiply, #cmdDecimal {
	align-self: center;
	text-align: center;
	font-size: 0.75em;
	display: block;
	border: transparent;
	padding: 1em 10em;
	position: relative;
	font-family: Sans-Serif;
	background-color: hsla(0, 0%, 75%, 0.25);
	backdrop-filter: blur(0.335em);
	left: 40%;
	right: 40%;
}